/* DashboardComponent's private CSS styles */
.well {
	background: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:20px;
	padding-right:20px;
	min-width:500px;
}

[class*='col-'] {
  float: left;
}

.col-1-2 {
  width: 100%;
}