<h1>Auftragsliste</h1>
<div class="grid grid-pad">
  <a *ngFor="let auftrag of auftragsliste" class="col-1-4">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;" routerLink="/detail/{{auftrag.id}}">
      <div class="card-header">{{auftrag.art}}</div>
      <div class="card-body">
        <h4 class="card-title">{{auftrag.empfaengerName}}</h4>
        <h2 class="cart-tetle">{{auftrag.betrag | number: '1.2'}} €</h2>
        <p class="card-text">Fälligkeit: {{auftrag.ausfuehrenZum | date: 'dd.MM.yyy'}}</p>
      </div>
    </div>
  </a>
</div>


